body {
    width: 800px;
}

textarea {
    width: 100%;
}

.CodeMirror {
    height: auto !important;
}

input:invalid {
    background-color: red;
}

.description {
    margin-left: 1em;
    color: #777777;
    white-space: pre;
}

hr {
    height: 1px;
    background-color: #ccc;
    border: none;
}

pre {
    margin: 0 0 0 0;
}
