body {
    width: 600px;
}

input {
    width: 100%;
}

textarea {
    width: 100%;
}

.CodeMirror {
    height: auto !important;
}

input:invalid {
    background-color: red;
}

.description {
    margin-left: 0.5em;
    color: #777777;
    white-space: pre-line;
}
