/* TODO non-selectable? should probably be from the parent.. */

/* TODO use variables */

/* the mark that shows near the link */
.promnesia-visited-eye {

    /* absolute relative to the parent wrapper that forces zero space */
    position: absolute;

    /* display slightly above the text */
    bottom: 1em;
}

/* invisible area taking 25% of the link and lets you click and pin the popup */
.promnesia-visited-toggler {
    cursor: crosshair;
}


/* actual popup with the metadata */
.promnesia-visited-popup {
    outline: solid 1px;
    background: #e6e6e6fa; /* same color as in sidebar */
    padding: 2px;
    /* not sure about initial?? */
    font-weight: initial;
    font-size: initial;
}

.promnesia-visited-popup .promnesia-visited-popup-link {
    display: inline-block;
    text-decoration: none;
    padding-top: 0px;
    padding-bottom: 0px;
}

.promnesia-visited-popup .context {
    display: block;
    /* color: black; */
    background: lightyellow;
    margin: 2px;
}

.promnesia-visited-popup .datetime {
    display: inline-block;
    float: right;
    padding-left: 0.5em;
}

/* close buton within the popup */
.promnesia-visited-popup-close {
    display: inline-block;
    min-width: 1.5em;
    min-height: 1.5em;
    text-align: center;
    font-weight: bold;
    float: right;
    color: red;
    cursor: pointer;
}

.promnesia-visited-popup-help {
    display: inline-block;
    min-width: 1.5em;
    min-height: 1.5em;
    text-align: center;
    font-weight: bold;
    float: right;
}
