/* TODO non-selectable? should probably be from the parent.. */

/* TODO use variables */

/* the mark that shows near the link */
.promnesia-visited-eye {

    /* absolute relative to the parent wrapper that forces zero space */
    position: absolute;

    /* display slightly above the text */
    bottom: 1em;
}

/* invisible area taking 25% of the link and lets you click and pin the popup */
.promnesia-visited-toggler {
    cursor: crosshair;
}


/* actual popup with the metadata */
.promnesia-visited-popup {
    outline: solid 1px;
    background: lightyellow;
}

/* close buton within the popup */
.promnesia-visited-popup-close {
    display: inline-block;
    min-width: 1.5em;
    min-height: 1.5em;
    text-align: center;
    font-weight: bold;
    float: right;
    color: red;
    cursor: pointer;
}

.promnesia-visited-popup-help {
    display: inline-block;
    min-width: 1.5em;
    min-height: 1.5em;
    text-align: center;
    font-weight: bold;
    float: right;
}
