/* sup */
body {
    font-size: 13px;
    color: black;
}

a {
    text-decoration: none;
}

/* meh, but ok for now */
#visits {
    /* make table occupy whole sidebar */
    width: 100%;
}


#visits .date {
    /* color: red; */
    white-space: nowrap;
    /* TODO not great, but quickest way to render it neatly */
    width: 11ch;
}

#visits .time {
    /* color: blue; */
    white-space: nowrap;
    width: 11ch;
}

#visits  .tag {
    margin-right: 0.2em;
}

#visits  .context {
    padding-left: 1em;
}

#visits  .locator {
    padding-left: 1em;
}



