/* sup */
body {
    font-size: 15px;
    color: black;
}

a {
    text-decoration: none;
}


.tag {
    /* color: orange; /\* TODO monospace font or smth? *\/ */
    margin-right: 0.2em;
    white-space: nowrap;
}

/* meh, but ok for now */
#visits {
    /* make table occupy whole sidebar */
    width: 100%;
}


#visits  .context {
    padding-left: 1em;
}

#visits  .locator {
    padding-left: 1em;
}



#visits {
    list-style: none;
    margin: 0;
    padding: 0;
}

#visits li {
    background: #e6e6e6cc;

    margin-top: 1em;

    padding: 0.2em;
}


#visits .datetime {
    white-space: nowrap;
    float: right;
}


/* TODO not great, but quickest way to render it neatly */
/* TODO not sure which order users expect first? */
#visits .time {
    color: blue;
    margin-right: 1em;
}
#visits .date {
    color: red;
}


