# org-mode test data
[submodule "tests/testdata/ox-hugo"]
	path = tests/testdata/ox-hugo
	url = https://github.com/kaushalmodi/ox-hugo.git
# hypothesis module + testdata
[submodule "tests/testdata/hypexport"]
	path = tests/testdata/hypexport
	url = https://github.com/karlicoss/hypexport.git
