"""
This directory keeps backups of chrome history databases (~/.config/google-chrome/Default/History).
The script is just scanning it based on mime type and populating from the databases it finds, so you are free to store them in any layout you prefer.
Note that it CAN'T be ~/.config/google-chrome, since SQLITE will refuse connection for an open (by Chrome) database.
If not set, the script will not be populating from chrome history.
"""
CHROME_HISTORY_DB_DIR = None

"""
This directory contains output which is to be consumed by the plugin.
"""
OUTPUT_DIR = None
