'''
Index (database) will be dumped to OUTPUT_DIR/promnesia.sqlite
'''
OUTPUT_DIR = '/tmp'



from promnesia import Source
from promnesia.sources import auto


'''
List of sources to use
'''
SOURCES = [
    Source(
        auto.index,
        # just some arbitrary directory with html files
        '/usr/share/doc/python3/html/faq',
    )
]
