from promnesia import Source
from promnesia.sources import auto

'''
List of sources to use

You can specify your own, add more sources, etc.
See https://github.com/karlicoss/promnesia#setup for more information
'''

# we should probably have separate docker volumes for sources and for config/db

SOURCES = [
    Source(
        auto.index,
        '/data/source1/',
    ),
#    Source(
#        auto.index,
#        '/source2/',
#    )
]

OUTPUT_DIR = '/data/'

import os
MIME_HANDLER = 'editor://' + os.path.dirname(os.path.realpath(__file__))
