python-dateutil
pytz

# for detecting sqlite databases
python-magic

# for smart date extraction
dateparser

urlextract

# database cache
sqlalchemy

# for extractors
# TODO get rid of this one..
dataset

# server bit
hug
