from promnesia import Source
from promnesia.sources import auto

'''
List of sources to use

You can specify your own, add more sources, etc.
See https://github.com/karlicoss/promnesia#setup for more information
'''
SOURCES = [
    Source(
        auto.index,
        # just some arbitrary directory with html files
        '/usr/share/doc/python3/html/faq',
    ),
    Source(
        auto.index,
        # just some arbitrary directory with html files
        '/data/html_files',
    )
]

OUTPUT_DIR = '/data/'
MIME_HANDLER = ''editor:///home/koom/promnesia/'
